*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #0f172a, #1e293b);

  font-family: Arial, sans-serif;
}

/* CALCULATOR */

.calculator{
  width: 350px;

  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(12px);

  padding: 25px;

  border-radius: 25px;

  box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

/* DISPLAY */

#display{
  width: 100%;
  height: 80px;

  border: none;
  outline: none;

  border-radius: 15px;

  margin-bottom: 20px;

  padding: 20px;

  font-size: 32px;

  text-align: right;

  background: rgba(255,255,255,0.1);

  color: white;
}

/* BUTTON GRID */

.buttons{
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 15px;
}

/* BUTTONS */

button{
  height: 70px;

  border: none;
  outline: none;

  border-radius: 15px;

  font-size: 22px;

  cursor: pointer;

  background: rgba(255,255,255,0.1);

  color: white;

  transition: 0.3s;
}

button:hover{
  transform: scale(1.05);

  background: rgba(255,255,255,0.2);
}

/* OPERATOR BUTTONS */

.operator{
  background: linear-gradient(to right, #06b6d4, #8b5cf6);
}

/* EQUAL BUTTON */

.equal{
  background: linear-gradient(to right, #22c55e, #16a34a);
}

/* ZERO BUTTON */

.zero{
  grid-column: span 2;
}